@page "/"

<PageTitle>Home</PageTitle>

<h1>
    Welcome to Retail Shop Management app
    <i class="fa fa-shop"></i>
</h1>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/login");
    }
}


