@page "/product/create"

@using RetailShopManagement.Domain.Constants

<h3>Create Product</h3>

<EditForm Model="ProductModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <div class="row">

        <!-- Category -->
        <div class="col-md-6 mb-3">
            <label class="form-label sn-required-field">Category</label>
            <InputSelect class="form-select" @bind-Value="ProductModel.CategoryId">

                @foreach (var category in CategoryFields)
                {
                    <option value="@category.Value">
                        @category.Text
                    </option>
                }
            </InputSelect>
        </div>
        <!-- Name -->
        <div class="col-md-6 mb-3">
            <label class="form-label sn-required-field">Product Name</label>
            <InputText class="form-control" @bind-Value="ProductModel.Name" />
        </div>

        <!-- Price -->
        <div class="col-md-4 mb-3">
            <label class="form-label sn-required-field">Price</label>
            <InputNumber class="form-control" @bind-Value="ProductModel.Price" />
        </div>

        <!-- Quantity -->
        <div class="col-md-4 mb-3">
            <label class="form-label sn-required-field">Quantity</label>
            <InputNumber class="form-control" @bind-Value="ProductModel.Quantity" />
        </div>

        <!-- Unit -->
        <div class="col-md-4 mb-3">
            <label class="form-label sn-required-field">Unit</label>
            <InputSelect class="form-select" @bind-Value="ProductModel.Unit">
                @foreach (var unit in UnitsConst.UnitsFields)
                {
                    <option value="@unit.Value">@unit.Text</option>
                }
            </InputSelect>
        </div>

        <!-- Description -->
        <div class="col-md-12 mb-3">
            <label class="form-label sn-required-field">Description</label>
            <InputTextArea class="form-control" @bind-Value="ProductModel.Description" rows="4" />
        </div>


    </div>

    <button type="submit" class="btn btn-primary">
        <i class="fa-regular fa-floppy-disk"></i>
        Save
    </button>

    <a href="/products" class="btn btn-secondary ms-2">
        Cancel
    </a>

</EditForm>

@code {

    private ProductDto ProductModel { get; set; } = new();

    private IList<IntDropDownField> CategoryFields { get; set; } = new List<IntDropDownField>();
    [Inject] private IProductService ProductService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CategoryFields = await CategoryTypes;
    }

    private async Task HandleValidSubmit()
    {
        if (!IsValidSave()) return;

        var response = await ProductService.CreateProductAsync(ProductModel);

        if (!response.IsSuccess)
        {
            ToastService.ShowError(response.Message);
            NavigationManager.NavigateTo("/error");
            return;
        }

        ToastService.ShowSuccess(response.Message);
        NavigationManager.NavigateTo("/products");
    }

    private bool IsValidSave()
    {
        if(ProductModel.CategoryId <1)
        {
            ToastService.ShowWarning("Please Select category.");
            return false;
        }
        else if (string.IsNullOrWhiteSpace(ProductModel.Name))
        {
            ToastService.ShowWarning("Please enter product name.");
            return false;
        }
        else if (string.IsNullOrWhiteSpace(ProductModel.Description))
        {
            ToastService.ShowWarning("Please enter description.");
            return false;
        }
        else if(ProductModel.Price < 1)
        {
            ToastService.ShowWarning("Please enter price");
            return false;
        }
        else if(ProductModel.Quantity == 0)
        {
            ToastService.ShowWarning("Please enter quantity.");
            return false;
        }
        else if(ProductModel.Unit != UnitsConst.None)
        {
            ToastService.ShowWarning("Please Select unit");
            return false;
        }

        return true;
    }
}
