@using RetailShopManagement.WebApp.Components.Pages.Shared.ToastComponent
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <form method="post" action="/logout">
                        <AntiforgeryToken />
                        <button type="submit" class="btn btn-secondary">
                            Logout
                            <i class="fa-solid fa-arrow-right-from-bracket fa-sm"></i>
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">
                        <button class="btn btn-success">
                            Login
                            <i class="fa-solid fa-arrow-right-to-bracket fa-sm"></i>
                        </button>
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<ToastComponent />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
