@page "/login"
@layout LoginLayout

<PageTitle>Login</PageTitle>
<div class="login-container">

    <div class="login-image">
        <img src="favicon.png" height="430px" width="391px" alt="Login Illustration" />
    </div>

    <div class="login-form">

        <div class="login-card">

            <h3>Retail Shop Management</h3>
            <p class="subtitle">Sign in to continue</p>

            @if (!string.IsNullOrEmpty(loginErrorMessage))
            {
                <div class="login-error">
                    <small>
                        @loginErrorMessage
                    </small>
                </div>
            }

            <EditForm Model="loginModel" OnValidSubmit="HandleLogin">

                <div class="form-group">
                    <label>Email</label>
                    <InputText class="form-control" @bind-Value="loginModel.Email" placeholder="Email or username" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <div class="password-wrapper">
                        <InputText type="@(showPassword ? "text" : "password")"
                                   class="form-control"
                                   @bind-Value="loginModel.Password"
                                   placeholder="Password" />
                        <button type="button" class="btn-eye" @onclick="() => showPassword = !showPassword">
                            <i class="fa @(showPassword ? "fa-eye-slash" : "fa-eye")" style="font-weight: lighter;"></i>
                        </button>
                    </div>
                </div>

                <div class="forgot-password">
                    <a href="/forgot-password">Forgot Password?</a>
                </div>

                <button class="btn-login">Login</button>

                <div class="register-link">
                    Don't have an account?
                    <a href="/register/user">Register</a>
                </div>
            </EditForm>

        </div>

    </div>

</div>

@code {

    private LoginModel loginModel = new();
    private string loginErrorMessage;
    private bool showPassword = false;

    private async Task HandleLogin()
    {
        await JsModalService.ConsoleLogAsync("Login clicked");

        if (string.IsNullOrWhiteSpace(loginModel.Email) && string.IsNullOrWhiteSpace(loginModel.Password))
        {
            loginErrorMessage = "Please enter email or password!";
            return;
        }
        if (loginModel.Email == "admin" && loginModel.Password == "admin")
        {
            NavigationManager.NavigateTo("/products");
        }
        else
        {
            loginErrorMessage = "The email or password you’ve entered is incorrect";
            StateHasChanged();
        }
    }

} 
